<div id="registerbox">
    <form id="registerform">
        <input id="email" name="email" type="text" placeholder="email">
        <input id="password" name="password" type="password" placeholder="password">
        <input id="passwordconfirm" name="passwordconfirm" type="password" placeholder="confirm password">
        <input id="submitregister" type="submit" value="register">
    </form>
</div>